
body{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 20% 45% 35%;
}

header{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: black;
}

main{
  width: auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row: 2/4;
  grid-column: 1/2; 
  background-color: transparent; 
}

section{
  /*background-color: rgb(13, 155, 238);*/
}
.bottom{
  display: flex;
  justify-content: center;
  display: grid;
  grid-row: 2/3;
}

h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-upper{
  display: grid;
  grid-template-rows: 75% 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3{
  display: grid;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-size: 50px;
}
form{
  display: flex;
}
.classmates{
  width: 300px;
  height: auto;
}
.check-boxes{
  display: flex;
  justify-content: center;
  flex-direction: row;  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  height: auto;
}
.bottomright{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 50px;
}
.div-lower{
  display: flex;
  align-items: baseline;
  background-color: rgb(5, 0, 0);
}
.b-day{
  height: auto;
  width: 250px;
}
textarea{
  width: 150px;
  height: auto;
}

.emailAddress{
  width: 395px;
  height: 25px;
}

@media (max-width: 750px) {
  .container{
    display: grid;
    grid-template-rows: 10%  30% 20% 20% 20%;
    grid-template-columns: auto;
  }
  .div-upper{
    display: grid;
    grid-row: 4/5;
  }
  .div-lower{
    display: grid;
    grid-row: 5/6;
  }
  .bottomright{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  textarea{
    display: flex;
    justify-content: flex-end;
  }
}
  @media (min-width: 751px){
    .container{
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: 10% 50% 40%;
    }
    /*.top{
      display: flex;
      flex-direction: column;
    }*/
    /*.check-boxes{
      display: flex;
      flex-direction: column;
    }*/


  }
  