
body{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 20% 45% 35%;
  background-image: url(./glow-balloons.jpg);
}

header{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: black;
  color: white;
}

main{
  width: auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row: 2/4;
  grid-column: 1/2; 
}

.bottom{
  display: flex;
  justify-content: center;
  display: grid;
  grid-row: 2/3;
  color: white;
  font-size: 35px;
}

h2{
  display: flex;
  align-items: center;
  color: white;
  font-size: 35px;
}
.div-upper{
  display: grid;
  grid-template-rows: 75% 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: inherit;
}
h3{
  display: grid;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
}
form{
  display: flex;
}
.classmates{
  color: white;
}
.check-boxes{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.bottomright{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: whitesmoke;
  padding: 50px;
  margin: 50px;
}
.div-lower{
  display: flex;
  align-items: baseline;
}
.b-day{
  height: auto;
  width: 250px;
}
textarea{
  width: auto;
}

.emailAddress{
  width: 395px;
  height: 25px;
  font-size: 25px;
  color: black;
  background-color: white;
}

@media (max-width: 750px) {
  .container{
    display: grid;
    grid-template-rows: 10%  30% 20% 20% 20%;
    grid-template-columns: auto;
  }
  .div-upper{
    display: grid;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
  }
  .div-lower{
    display: grid;
    grid-row: 5/6;
  }
  .bottomright{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 0%;
    height: auto;
  }
  textarea{
    display: flex;
    justify-content: flex-end;
    border: 10px solid white;
  }
  .b-day{
    display: flex;
    justify-content: flex-end;
  }
}
  @media (min-width: 751px){
    .container{
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: 10% 50% 40%;
    }
    /*.top{
      display: flex;
      flex-direction: column;
    }*/
    /*.check-boxes{
      display: flex;
      flex-direction: column;
    }*/


  }
  