/* body{
} */

header{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;

}
.header-pic{
  width: 100%;
  height: 10%;
}

main{
  height: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 34% 33%;

}
/* div{
   border: 3px solid black;
} */

.left-top{
  display: grid;
  grid-row: 1/2;
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
}

/* .hello-pic{
  display: grid;
  grid-row: 1/2;
  width: 100%; 
} */

.left-center{
  display: grid;
  grid-row: 2/3;
}

.left-bottom{
  display: grid;
  grid-row: 3/4;
}
.bottom-pics{
  display: flex;
  flex-direction: row;
}

/* .right-bottom{
  height: 40%; 

} */

section{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/4;
  /* border: 3px solid red; */
}
.upper-left{
  display: flex;
  justify-content: space-evenly;
}

.upper-right{
  display: flex;
  align-items: center;
}

.right-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}

.hello-pic{
width: 35%;
}

.leopard-pic{
  width: 50%;

}
.spaceship{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  padding: 20px;

}
middle{
  display: flex;
  justify-content: center;
  align-items: center;

}
.you-belong{
  width: 100%;
  height: 85%;
  
}

.sun-jump{
  width: 50%;
  height: 280px;
  padding-left: 10px;
}

.escape-rooms{
  width: 50%;
  height: 280px;
  padding-right: 10px;
}

/* .all-pic{
  width: 50%;
  height: 65%;
} */