body{
  width: 100%;
  height: 100%;
}

header{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;

}
.header-pic{
  width: 100%;
  height: 10%;
}

main{
  height: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 34% 33%;

}


.left-top{
  display: grid;
  grid-row: 1/2;
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
}


.left-center{
  display: grid;
  grid-row: 2/3;
}

.left-bottom{
  display: grid;
  grid-row: 3/4;
}
.bottom-pics{
  display: flex;
  flex-direction: row;
  padding: 0%;
}


section{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/4;
  
  /* border: 3px solid red; */
}
.upper-left{
  display: flex;
  justify-content: space-evenly;
}

.upper-right{
  display: flex;
  align-items: center;
  background-image: url(./imagesForGallery/spaceship.jpg);
}
.upper-right:hover {
  background-image: none;
  background-color: blue;
}

.upper-right-p{
  display: none;
}

.upper-right:hover .upper-right-p {
  display: block;
}

.right-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}

.hello-pic{
width: 35%;
}

.leopard-pic{
  width: 50%;

}
.spaceship{
  display: block;
  width: fit-content;
  padding: 20px;
}

middle{
  display: flex;
  justify-content: center;
  align-items: center;

}
.you-belong{
  width: 100%;
  height: 85%;
  
}

.sun-jump{
  width: 50%;
  height: auto;
  padding-left: 10px;
}

.escape-rooms{
  width: 50%;
  height: auto;
  padding-right: 10px;
}

/* .overlay-ship {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  background-color: blue;

} */

/* .upper-right:hover .overlay-ship{
  opacity: 1;
} */
/* 
.text {
  color: white;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;


} */

