
body{
  width: 100%;
  height: 100%;
  background-color: rgb(204, 204, 236);
}

header{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: xx-large; */

}
.header-pic{
  width: 100%;
  height: 10%;
}

main{
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 34% 33%;

}

.left-top{
  margin: 0;
  padding: 0;
  display: grid;
  grid-row: 1/2;
  }

  .tree-pic{
    background-image: url(./imagesForGallery/tree-reflection.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;

  }

  .tree-pic:hover {
    display: none;
    background: rgba(0, 0, 0, 0.5);
  }

  .tree-quote {
    color: white;
    display: none;

  }

  .tree-pic:hover .tree-quote{
    color: black;

  }



.left-center{
  display: grid;
  grid-row: 2/3;
} 

.middle{
  width: 95%;
  margin: 0;
  padding: 0;
  background-image: url(./imagesForGallery/youbelonghere.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle:hover {
  background-image: none;
  background: rgba(0, 0, 0, 0.5);
}

.belong {
  color: white;
  display: none;
}

.middle:hover .belong {
  display: block;
  color: white;
}


.left-bottom{
  display: grid;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
}

.bottom-pics-left {
  width: 90%;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(./imagesForGallery/escape-rooms-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.bottom-pics-left:hover {
    background-image: none;
    background: rgba(0, 0, 0, 0.5);
  }

  .escape-rooms{
    display: none;
    color: rgb(245, 239, 239);
  }

  .bottom-pics-left:hover .escape-rooms{
    display: block;
    color: white;
  }

.bottom-pics-right{
  width: 90%;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(./imagesForGallery/sun-tree-jump-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  transition:  1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.bottom-pics-right:hover {
    background-image: none;
    background: rgba(0, 0, 0, 0.5);
}

.sun-tree{
  display: none;
  color: white;

  
}

.bottom-pics-right:hover .sun-tree {
  display: block;
  color: white;
}


section{
  display: block;
  display: grid;
  grid-template-rows: 70% 30%;;
  grid-column: 2/3;
  grid-row: 1/4;
}


.upper-right{
  display: grid;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  background-image: url(./imagesForGallery/spaceship.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}

.upper-right:hover {
  background-image: none;
  background: rgba(0, 0, 0, 0.5);
}

.upper-right-p{
  display: none;
}

.upper-right:hover .upper-right-p {
  display: block;
  color: white;
}

.right-bottom{
  display: grid;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }

header {
  background-color: black;
  color: white;
  font-size: 10%;
  height:15%;
  
  }

main {
    display: flex;
    flex-direction: column;
  }
.left-top{
    display: block;
    height: 25%;
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-row: 1/2; */
    }

.left-center{
    height: 25%;
      /* display: grid;
      grid-row: 2/3; */
    } 

.left-bottom{
  height: 25%;
      /* display: grid;
      grid-row: 3/4; */
      display: flex;
      flex-direction: row;
}

section{
    height: 25%;
        display: block;
        display: grid;
        grid-template-rows: 70% 30%;;
        grid-column: 2/3;
        grid-row: 1/4;
}



}
 